.education_experience {
  padding: 50px 20px; /* Padding inside the entire section */
  padding-left: 95px;
  padding-right: 95px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 160px;
  margin-bottom: 120px;
  border-radius: 10px; /* Optional: to add rounded corners to the entire section */

  .education_experience_div {
    background-color: transparent; /* Transparent background for the div containing education boxes */

    .education_experience_title {
      display: grid;
      grid-template-columns: 35px 1fr;
      column-gap: 30px;
      padding-bottom: 30px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: var(--brand_color);
      }
      h1 {
        font-size: 48px;
        font-weight: bold;
        background: linear-gradient(
          to right,
          var(--brand_color),
          var(--brand_color2)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .education_box {
      background-color: #f6f3fc; /* White background for each education box */
      padding: 20px; /* Padding inside each education box */
      margin-bottom: 20px; /* Space between boxes */
      border-radius: 8px; /* Rounded corners for the boxes */
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow to each box */
      .date {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 20px;
        color: var(--brand_color);
      }

      .role {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 28px;
        color: var(--brand_color2);
      }

      .place {
        font-size: 18px;
        color: black;
      }

      &:hover {
        background: linear-gradient(
          to right,
          var(--brand_color),
          var(--brand_color2)
        ); /* Gradient background on hover */

        .date,
        .role,
        .place {
          color: white; /* Ensure all text inside the box turns white on hover */
          transition: color 0.5s ease;
        }
      }
    }
  }
}
