.quality_content {
  display: grid;
  grid-template-columns: 1fr 2fr auto; /* Three columns: left, right, and logo */
  align-items: center; /* Align items vertically centered */
  gap: 20px; /* Optional: Add space between columns */
  //background-color: blue;
  padding: 20px 0px;

  .left {
    display: flex;
    align-items: center; /* Align the span and h3 vertically centered */

    span {
        margin-left: 10px;
      margin-right: 10px; /* Optional: Add some space between the span and h3 */
      font-weight: bold; /* Make span content bold */
      font-size: 20px;
    }
    h3 {
      margin: 0; /* Remove default margin from h3 */
      font-weight: bold; /* Make span content bold */
      font-size: 20px;
    }
  }
}
